@{
    // Changes the title at the top of the browser/webpage
    // It is used in the title HTML element
    ViewData["Title"] = "Movie List";
}

<h2>My Movie List</h2>

<p>Hello from our View Template!</p>